

<div class="span-24 content">

<div class="title">
<h2 class="heading">The truth according to <%= @user.login %></h2>
<p>Member since <%= @user.created_at.to_s(:short) %></p>
<p><%= @user.profile %></p>
</div>



<%= render(:partial=>"snippets/listing") %>

</div>